  .href {
    background-color: darktblue;
    color: black;
    padding: 40px;
    text-align: center;
  }
  
  .headerDiv {
    background-color: lightblue;
    padding: 40px;
  }

  .h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}
  
/* Split the screen in half for note.html */ 

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.col-4 {
  border-right: 1px solid gray;
  height: 100vh;
}

.noteTitle {
  width: 90%;
  float: left;
  border-radius: 12px;
  background-color: lightgray;
}

.noteText {
  width: 90%;
  float: left;
  min-height: 4rem;
  word-wrap: normal;
  border-radius: 12px;
  background-color: lightgray;
}

.saveNote {
  float: right;
  margin-right: 2%;
}

.newText {
  border: 1px solid #000;
  border-radius: 12px;
  background-color: lightblue;
  margin-bottom: 2%;
}

